/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices */
@media (min-width: 576px) {
    .border-sm-top {
        border-top: 1px solid #dee2e6 !important;
    }

    .border-sm-end {
        border-right: 1px solid #dee2e6 !important;
    }

    .border-sm-bottom {
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-sm-start {
        border-left: 1px solid #dee2e6 !important;
    }

    .border-sm-top-0 {
        border-top: 0 !important;
    }

    .border-sm-end-0 {
        border-right: 0 !important;
    }

    .border-sm-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-sm-start-0 {
        border-left: 0 !important;
    }

    .border-sm-x {
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-sm-y {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-sm {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-sm-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .border-sm-1 {
        border-width: 1px !important;
    }

    .border-sm-2 {
        border-width: 2px !important;
    }

    .border-sm-3 {
        border-width: 3px !important;
    }

    .border-sm-4 {
        border-width: 4px !important;
    }

    .border-sm-5 {
        border-width: 5px !important;
    }

    .border-sm-primary {
        border-color: rgba(13, 110, 253, 1) !important;
    }

    .border-sm-secondary {
        border-color: rgba(108, 117, 125, 1) !important;
    }

    .border-sm-success {
        border-color: rgba(25, 135, 84, 1) !important;
    }

    .border-sm-danger {
        border-color: rgba(220, 53, 69, 1) !important;
    }

    .border-sm-warning {
        border-color: rgba(255, 193, 7, 1) !important;
    }

    .border-sm-info {
        border-color: rgba(13, 202, 240, 1) !important;
    }

    .border-sm-light {
        border-color: rgba(248, 249, 250, 1) !important;
    }

    .border-sm-dark {
        border-color: rgba(33, 37, 41, 1) !important;
    }

    .border-sm-white {
        border-color: rgba(255, 255, 255, 1) !important;
    }
}

/* Mediam devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .border-md-top {
        border-top: 1px solid #dee2e6 !important;
    }

    .border-md-end {
        border-right: 1px solid #dee2e6 !important;
    }

    .border-md-bottom {
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-md-start {
        border-left: 1px solid #dee2e6 !important;
    }

    .border-md-top-0 {
        border-top: 0 !important;
    }

    .border-md-end-0 {
        border-right: 0 !important;
    }

    .border-md-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-md-start-0 {
        border-left: 0 !important;
    }

    .border-md-x {
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-md-y {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-md {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-md-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .border-md-1 {
        border-width: 1px !important;
    }

    .border-md-2 {
        border-width: 2px !important;
    }

    .border-md-3 {
        border-width: 3px !important;
    }

    .border-md-4 {
        border-width: 4px !important;
    }

    .border-md-5 {
        border-width: 5px !important;
    }

    .border-md-primary {
        border-color: rgba(13, 110, 253, 1) !important;
    }

    .border-md-secondary {
        border-color: rgba(108, 117, 125, 1) !important;
    }

    .border-md-success {
        border-color: rgba(25, 135, 84, 1) !important;
    }

    .border-md-danger {
        border-color: rgba(220, 53, 69, 1) !important;
    }

    .border-md-warning {
        border-color: rgba(255, 193, 7, 1) !important;
    }

    .border-md-info {
        border-color: rgba(13, 202, 240, 1) !important;
    }

    .border-md-light {
        border-color: rgba(248, 249, 250, 1) !important;
    }

    .border-md-dark {
        border-color: rgba(33, 37, 41, 1) !important;
    }

    .border-md-white {
        border-color: rgba(255, 255, 255, 1) !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .border-lg-top {
        border-top: 1px solid #dee2e6 !important;
    }

    .border-lg-end {
        border-right: 1px solid #dee2e6 !important;
    }

    .border-lg-bottom {
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-lg-start {
        border-left: 1px solid #dee2e6 !important;
    }

    .border-lg-top-0 {
        border-top: 0 !important;
    }

    .border-lg-end-0 {
        border-right: 0 !important;
    }

    .border-lg-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-lg-start-0 {
        border-left: 0 !important;
    }

    .border-lg-x {
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-lg-y {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-lg {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-lg-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .border-lg-1 {
        border-width: 1px !important;
    }

    .border-lg-2 {
        border-width: 2px !important;
    }

    .border-lg-3 {
        border-width: 3px !important;
    }

    .border-lg-4 {
        border-width: 4px !important;
    }

    .border-lg-5 {
        border-width: 5px !important;
    }

    .border-lg-primary {
        border-color: rgba(13, 110, 253, 1) !important;
    }

    .border-lg-secondary {
        border-color: rgba(108, 117, 125, 1) !important;
    }

    .border-lg-success {
        border-color: rgba(25, 135, 84, 1) !important;
    }

    .border-lg-danger {
        border-color: rgba(220, 53, 69, 1) !important;
    }

    .border-lg-warning {
        border-color: rgba(255, 193, 7, 1) !important;
    }

    .border-lg-info {
        border-color: rgba(13, 202, 240, 1) !important;
    }

    .border-lg-light {
        border-color: rgba(248, 249, 250, 1) !important;
    }

    .border-lg-dark {
        border-color: rgba(33, 37, 41, 1) !important;
    }

    .border-lg-white {
        border-color: rgba(255, 255, 255, 1) !important;
    }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .border-xl-top {
        border-top: 1px solid #dee2e6 !important;
    }

    .border-xl-end {
        border-right: 1px solid #dee2e6 !important;
    }

    .border-xl-bottom {
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-xl-start {
        border-left: 1px solid #dee2e6 !important;
    }

    .border-xl-top-0 {
        border-top: 0 !important;
    }

    .border-xl-end-0 {
        border-right: 0 !important;
    }

    .border-xl-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-xl-start-0 {
        border-left: 0 !important;
    }

    .border-xl-x {
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-xl-y {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }

    .border-xl {
        border-top: 1px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
        border-left: 1px solid #dee2e6 !important;
        border-right: 1px solid #dee2e6 !important;
    }

    .border-xl-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .border-xl-1 {
        border-width: 1px !important;
    }

    .border-xl-2 {
        border-width: 2px !important;
    }

    .border-xl-3 {
        border-width: 3px !important;
    }

    .border-xl-4 {
        border-width: 4px !important;
    }

    .border-xl-5 {
        border-width: 5px !important;
    }

    .border-xl-primary {
        border-color: rgba(13, 110, 253, 1) !important;
    }

    .border-xl-secondary {
        border-color: rgba(108, 117, 125, 1) !important;
    }

    .border-xl-success {
        border-color: rgba(25, 135, 84, 1) !important;
    }

    .border-xl-danger {
        border-color: rgba(220, 53, 69, 1) !important;
    }

    .border-xl-warning {
        border-color: rgba(255, 193, 7, 1) !important;
    }

    .border-xl-info {
        border-color: rgba(13, 202, 240, 1) !important;
    }

    .border-xl-light {
        border-color: rgba(248, 249, 250, 1) !important;
    }

    .border-xl-dark {
        border-color: rgba(33, 37, 41, 1) !important;
    }

    .border-xl-white {
        border-color: rgba(255, 255, 255, 1) !important;
    }
}