/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.project-card {
    height: fit-content !important;
    padding: 3rem !important;
}

.project-card .project-icon {
    width: 40px !important;
    vertical-align: middle !important;
}

/* Small devices */
@media (min-width: 576px) {}

/* Mediam devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .project-card {
        height: 450px !important;
        padding: 3rem !important;
    }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}