/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* .project-card {
    height: fit-content !important;
    padding: 3rem !important;
}

.project-card .project-icon {
    width: 40px !important;
    vertical-align: middle !important;
} */

/* Small devices */
@media (min-width: 414px) {
    .row {
        display: grid;
        text-align: center;
    }

}

/* Mediam devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .row {
        display: flex;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .row {
        display: flex !important;
    }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .row {
        display: flex;
    }
}