# Metadata filtered
**.log
**.lock
/.metadata/.mylyn
*.xmi
*.index
!.metadata/**/Arc-i-Tech/.indexes/*.index
/.metadata/.plugins/org.eclipse.jdt.core
/.metadata/.plugins/org.eclipse.jdt.launching
/.metadata/.plugins/org.eclipse.m2e.core
/.metadata/.plugins/org.eclipse.m2e.jdt
/.metadata/.plugins/org.eclipse.m2e.logback
/.metadata/.plugins/org.eclipse.oomph.setup
/.metadata/.plugins/org.eclipse.tm.terminal.view.ui
/.metadata/.plugins/org.eclipse.ui.intro
/.metadata/.plugins/org.eclipse.ui.workbench
/.metadata/.plugins/org.eclipse.wst.jsdt.core
/.metadata/.plugins/org.eclipse.wst.sse.core
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/.metadata/.plugins/org.eclipse.core.resources/.safetable
/.metadata/.plugins/org.eclipse.core.resources/.root
.metadata/.plugins/org.eclipse.core.resources/.projects/Arc-i-Tech/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp
/.metadata/.plugins/org.eclipse.core.resources/.projects/Arc-i-Tech/.*.snap
/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp
