/target/*
!/target/*.war

.metadata/.bak_0.log
.metadata/.bak_1.log
.metadata/.bak_2.log
.metadata/.bak_3.log
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
/.metadata/.plugins/org.eclipse.core.resources/.history
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp
/.metadata/.plugins/org.eclipse.core.resources/.projects/Arc-i-Tech/.indexes
.metadata/.plugins/org.eclipse.core.resources/.projects/Arc-i-Tech/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Arc-i-Tech/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Arc-i-Tech/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/1.snap
/.metadata/.plugins/org.eclipse.core.resources/.safetable
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.index
/.metadata/.plugins/org.eclipse.jdt.core
/.metadata/.plugins/org.eclipse.jdt.ui
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Arc-i-Tech/2024/10/41/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Arc-i-Tech/2024/10/42/refactorings.history
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.0.20240217-1525.xml
/.metadata/.plugins/org.eclipse.pde.core/.cache
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.local_targets/1728721446414.target
/.metadata/.plugins/org.eclipse.ui.workbench
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries
/.metadata/.plugins/org.eclipse.wst.jsdt.core
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
