
body{

    font-family: astera;
    margin: 0px;
    padding: 0px;
 background-color: black;
    background-repeat: round;
}
a:hover {
  color: crimson!important;
}

li{
    list-style-type: none;
}

#brand-name::first-letter{
    color: red;
}

nav.sticky {
    background-color: #0b4f6c!important;
    width: 100%;
    transition: 1s;
}

nav.sticky ul li a {
    color: white!important;
    font: 1vh;

}
