<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="userauths.username" required>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="userauths.passward" required>
      </div>
  
      <button type="submit">Login</button>
    </form>
    
     {{msg}}
  </div>
  