<div class="container">
  <div class="main-dashboard">

  <div class="right-bar theme-bg-secondary">
    <div class="right-bar-content">
      <div class="right-bar-header">
        <div class="brand-logo">
          <div class="icon"></div>
        </div>
      </div>
      <div class="right-bar-body">
        <ul>

          <li class="theme-a-dark theme-link-dark">
            <a routerLink="/test-user" class="theme-text-quaternary"
              >Profile</a
            >
          </li>
          <li class="theme-a-dark theme-link-dark">
            <a routerLink="/user-service" class="theme-text-quaternary"
              >Services</a
            >
          </li>
          <li class="theme-a-dark theme-link-dark">
            <a routerLink="/user-feedback" class="theme-text-quaternary"
              >Feedback</a
            >
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="left-bar">
    <router-outlet></router-outlet>
  </div>


</div>
 <div class="status-bar theme-bg-secondary theme-text-quaternary">
    © Copyright Arc-i-Tech. All Rights Reserved 2023.
  </div>
</div>
