/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.hero-img {
  width: -webkit-fill-available !important;
}

.hero-text {
  width: 100% !important;
  font-weight: 300;
}

/* Small devices */
@media (min-width: 576px) {}

/* Mediam devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero-img {
    width: 500px !important;
  }

  .left {
    margin-top: 5em;
    left: 0;
  }

  .right {
    margin-top: 5em;
    right: 0;
  }

  .hero-text {
    position: absolute;
    width: 45% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero-img {
    width: 650px !important;
  }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}