
<div class="reg-form theme-bg-primary"> 
    <div class="header-text theme-text-quaternary">
        <h1><b>Registration</b></h1>
    </div>
    <form (ngSubmit)="onSubmit()">
    <div class="form-fields theme-text-quaternary">
        <label for="fname">Enter Name</label>
        <input type="text" id="fname" name="fname" [(ngModel)]="user.fname" placeholder="Enter Name Here" >

        <label for="username">Enter Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="user.username" placeholder="Enter Username Here" >

        <label for="Address">Enter Address</label>
        <input type="textbox" id="Address" name="address" [(ngModel)]="user.address" placeholder="Enter Name Here" >

        <label for="mob" class="test">Mobile Number</label>
        <input 
          type="number" id="mob" name="mobNo" [(ngModel)]="user.mob" placeholder="Enter mobile number" required>        

        <div class="container">
        <label for="city">City</label>
        <input type="text" id="city" name="city" [(ngModel)]="user.city" placeholder="City" >

        <label for="pcode" class="test2">Pincode</label>
        <input type="number" id="pcode" name="pin" [(ngModel)]="user.pcode" placeholder="Pincode" >
        </div>

        <button type="submit" class="theme-bg-secondary"><b>Register</b></button>
       <h3>
        {{message}}
       </h3>
    </div>
    </form>
</div>