<!-- src/app/components/register/register.component.html -->

<section class="theme-bg-quaternary">

<div class="register-container  theme-bg-secondary theme-text-quaternary">
  <h3 class="">Arc-i-Tech</h3>
  <h1>Sign Up</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fname">Full Name</label>
      <input id="fname" class="theme-border-light-primary" formControlName="fname" placeholder="Enter your name" />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" class="theme-border-light-primary" formControlName="username" placeholder="Enter username" />
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input id="address" class="theme-border-light-primary" formControlName="address" placeholder="Enter address" />
    </div>
    <div class="form-group">
      <label for="mob">Mobile Number</label>
      <input id="mob" class="theme-border-light-primary" formControlName="mob" placeholder="10-digit mobile" />
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="city">City</label>
        <input id="city" class="theme-border-light-primary" formControlName="city" placeholder="City" />
      </div>
      <div class="form-group">
        <label for="pcode">Pincode</label>
        <input id="pcode" class="theme-border-light-primary" formControlName="pcode" placeholder="6-digit pincode" />
      </div>
    </div>
    <button type="submit" class="theme-text-quaternary theme-bg-primary">Register</button>
  </form>
</div>

</section>
