
<div class="box">
    <h2>Login</h2>
<form>
    <div class="input-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="userObj.username" id="username" name="username" placeholder="Enter Username" required>

            <label for="password">Password</label>
            <input type="password" [(ngModel)]="userObj.password" id="password" name="password" placeholder="Enter Password" required>

            <input type="submit" (click)="onLoginPage()" value="Login">
        </div>
        <div class="extra-links">
            <a href="../Html/Password.html">Forgot password?</a>
            <a href="../Html/RegForm.html">Create an account</a>
        </div>
    </form>